.header {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  background-color: #fff;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(226, 226, 226);
}

.start-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-icon {
  margin-left: 15px;
  padding-left: 2.5px;
  padding-right: 2.5px;
  padding-top: 2px;
  border-radius: 50%;
}
.hamburger-icon:hover {
  background-color: rgb(215, 214, 214);
}
.hamburger-menu {
  height: 22px;
  cursor: pointer;
}
.youtube-logo {
  height: 55px;
  cursor: pointer;
}

.middle-section {
  flex: 1;
  margin-left: 40px;
  margin-right: 20px;
  max-width: 450px;
  display: flex;
  align-items: center;
}
.search-bar {
  flex: 1;
  height: 23px;
  padding-left: 12px;
  font-size: 14px;
  border: 1px solid rgb(179, 176, 176);
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.04);
  width: 0;
}
.middle-section input:focus {
  outline: none;
  border: 1px solid rgba(42, 145, 242, 0.779);
}
.search-bar::placeholder {
  font-size: 12px;
}
.search-button {
  height: 26.1px;
  width: 45px;
  background-color: rgb(243, 239, 239);
  border-width: 1px;
  border-left: 0px;
  border-color: rgb(179, 176, 176);
  border-style: solid;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  transition: background-color 0.2s;
}
.search-icon {
  height: 20px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.apps-icon-container,
.notifications-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button:hover,
.voice-search-button:hover,
.upload-icon-container:hover,
.apps-icon-container:hover,
.notifications-icon-container:hover,
.account-icon-container {
  cursor: pointer;
  background-color: rgb(215, 214, 214);
}

.upload-icon-container,
.apps-icon-container,
.notifications-icon-container {
  padding: 3px;
  border-radius: 50%;
}

.search-button .tooltips,
.voice-search-button .tooltips,
.upload-icon-container .tooltips,
.apps-icon-container .tooltips,
.notifications-icon-container .tooltips {
  color: white;
  font-size: 10px;
  background-color: rgb(145, 145, 145);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 2px;
  position: absolute;
  bottom: -29px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltips,
.voice-search-button:hover .tooltips,
.upload-icon-container:hover .tooltips,
.apps-icon-container:hover .tooltips,
.notifications-icon-container:hover .tooltips {
  opacity: 1;
}

.voice-search-button {
  height: 25px;
  width: 25px;
  margin-left: 10px;
  border: none;
  background-color: rgb(243, 239, 239);
  border-radius: 12.5px;
}
.mic-icon {
  height: 20px;
}

.end-section {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.upload-icon {
  height: 17px;
}
.apps-icon {
  height: 17px;
}
.notifications-icon {
  height: 17px;
}
.notifications-count {
  position: absolute;
  top: -0.5px;
  right: -3px;
  background-color: rgb(233, 27, 27);
  color: white;
  font-weight: 700;
  font-size: 9px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 50%;
}
.account-icon-container {
  height: 20px;
  border-radius: 10px;
  margin-right: 20px;
}

.account-icon {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}
